<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-x-twitter"></i>


        </div>
        <div class="abcd">
            &copy;Wanderlust Private Limited
        </div>
        <div class="f-into-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>